@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --cor-principal:#0A3871;
}

*{
    font-family: 'inter', Sans-Serif;
    font-weight: 400;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f5fc;
}

main{
    display: flex;
    gap:40px;
}

header{
    width: 20%;
}
.logo{
    padding-top: 40px;
    margin-left: 40px;

}

textarea.input{
    width: 480px;
    margin-top: 20px;
    height: 340px;
    margin-left: 11rem;
    outline: none;
    font-size: 2rem;
    color: var(--cor-principal);
    resize: none;
}

textarea.input::placeholder{
    color:  var(--cor-principal);
    font-size: 2rem;
}

.Alert {
    display: flex;
    flex-direction: row;
    margin-left: 13rem;
    align-items: center; 
    gap:8px;
    color:#495057;
    font-size: 0.75rem;
    opacity: 80%;
}

.botoes{
    display: flex;
    margin-left: 10rem;
    gap: 24px;
    margin-top: 32px;
}

button{
    padding: 1.5rem;
    border-radius: 1.5rem;
    width:328px;
    Height: 67px;
    font-size: 1rem;
}

.criptografar{
    color: #ffffff;
    background-color: var(--cor-principal);
}

.Descriptografar{
    color: var(--cor-principal);
    background-color:#D8DFE8;
    border:1px solid var(--cor-principal); 
}

button:hover{
    background-color: #4f76a7;
    color: #ffffff;
}

.section2{
    width: 340px;
    height: 500px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    justify-content: center;
}

.mensagem{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.img{
    Width:270px;
    Height:auto;
    background-color: white;
    margin-left: 30px;
}

.Copiar{
    color: var(--cor-principal);
    background-color:#D8DFE8;
    border:1px solid var(--cor-principal); 
    height: 67px;
    width: 236px;
    margin-left: 40px;
}

p{
    background-color: transparent;
}
